<a href="https://colab.research.google.com/github/renmarie05/MIDTERM_EXAM_Advanced_DV-ren-ren/blob/main/MIDTERM_EXAM_Advanced_DV_renren.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = input("what is your name? ")
print("Hello", "Ren-ren C.. Delmendo")
age = input("How old are you? ")
print ("You are", 22, "years old")

what is your name? Ren-ren
Hello Ren-ren C.. Delmendo
How old are you? 22
You are 22 years old

In [2]:
s = "pizza"
t = "P"

In [3]:
s = "pizza"
t = "PIZZA"

In [4]:
s = "pizza"
T = "pizza"

In [5]:
name = "read"
print ("Peal",("Read", "Deal"))

Peal ('Read', 'Deal')

In [6]:
a = 2
b = 3
c = 2.3
d = True

In [1]:
name = input("What is your name? ")
print(f"Hello {name}!")
birth_year = input("What is your birth year? ")
birth_year = int(birth_year)
print(f"You are 22 years old!")

What is your name? Ren-ren
Hello Ren-ren!
What is your birth year? 2000
You are 22 years old!

In [15]:
s1=input("Enter the first number: ")
s2=input("Enter the second number: ")
Add= float(s1)+float(s2)
print('Sum: {1} + {1} = {2}'.format(s1, s2, Add))
Subtract= float(s1)-float(s2)
print('Difference: {1} - {1} = {2}'.format(s1, s2, Subtract))
Multiply= float(s1)*float(s2)
print('Product: {1} * {1} = {2}'.format(s1, s2, Multiply))
Divide= float(s1)/float(s2)
print('Quotient: {1} / {1} = {2}'.format(s1, s2, Divide))
Exponent= float(s1)**float(s2)
print('Power: {1} ** {1} = {2}'.format(s1, s2, Exponent))
Remainder= float(s1)%float(s2)
print('Division with Remainder: {0} / {1} = 0.0\n Remainder: {2}'.format(s1, s2, Remainder))

Enter the first number: 23
Enter the second number: 24
Sum: 24 + 24 = 47.0
Difference: 24 - 24 = -1.0
Product: 24 * 24 = 552.0
Quotient: 24 / 24 = 0.9583333333333334
Power: 24 ** 24 = 4.8025076399650196e+32
Division with Remainder: 23 / 24 = 0.0
 Remainder: 23.0

In [4]:
if 5 + 10:
  print("5 and 10 is not equal")

5 and 10 is not equal

In [5]:
choice = int(input("Enter your choice:"))
print("Enter two numbers: ")
num1 = float(input())
num2 = float(input())

Enter your choice:22
Enter two numbers:
23
24

In [6]:
thislist = ["apple", "banana", "cherry"]
[2]
print("thislist apple, banana, cherry")

thislist apple, banana, cherry

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist= "banana"
print(thislist)

banana

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist = "Orange"
print(thislist)

Orange

In [9]:
x = [7, 4, 3, 2, 5]
x = 7,4,3,2
print(x)

(7, 4, 3, 2)

In [10]:
z = [7, 5, 3, 3]
print("5(7,3,3)")

5(7,3,3)

In [ ]:
x = [1, 2, 3]
x= 1,2,3,4,5
print(x)

In [12]:
z = [1, 2, 3, 4, 5]
z = [1,2,3,4,[1,2],5]
print(z)

[1, 2, 3, 4, [1, 2], 5]

In [13]:
import numpy
lst = [1, 7, 0, 6, 2, 5, 6]
arr = numpy.asarray(lst)
("1,7,0,6,2,5,6", lst)
("numpy: ", arr)
arr1 = numpy.asarray(arr)
("arr: " , arr1)
arr1[3] = 23
("lst: " , lst) 
("arr1: " , arr1)

('arr1: ', array([ 1,  7,  0, 23,  2,  5,  6]))