<a href="https://colab.research.google.com/github/renmarie05/MIDTERM_EXAM_Advanced_DV-ren-ren/blob/main/Ren_ren_C_Delmendo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
name = input("What is your name? ")
print("Hello", name.capitalize())
age = input("How old are you? ")
print("You are", age, "years old")

What is your name? Ren-ren
Hello Ren-ren
How old are you? 22
You are 22 years old

In [5]:
s = "pizza"
t = s[0].upper()
s.capitalize()
print(t)

P

In [6]:
s = "pizza"
t = s[0].upper()
s.capitalize()
print(t)

P

In [7]:
s = "pizza"
t = s.lower()
print(t)

pizza

In [8]:
name = "Read"
new_name = name.replace('R', 'P').replace('d', 'l')
print(new_name)

Peal

In [9]:
a = 2
b = 3
c = 2.3
d = True
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'int'> <class 'float'> <class 'bool'>

In [10]:
name = input("What is your name? ") # Rune
print(f"Hello {name}!")
birth_year = input("What is your birth year? ")
birth_year = int(birth_year)
print(f"You are {2023 - birth_year} years old!")

What is your name? Ren-ren
Hello Ren-ren!
What is your birth year? 2000
You are 23 years old!

In [11]:
s1 = input("Enter the first number: ")
s2 = input("Enter the second number: ")
Add = float(s1) + float(s2)
print('Sum: {0} + {1} = {2}'.format(s1, s2, Add))
Subtract = float(s1) - float(s2)
print('Difference: {0} - {1} = {2}'.format(s1, s2, Subtract))
Multiply = float(s1) * float(s2)
print('Product: {0} * {1} = {2}'.format(s1, s2, Multiply))
Divide = float(s1) / float(s2)
print('Quotient: {0} / {1} = {2}'.format(s1, s2, Divide))
Exponent = float(s1) ** float(s2)
print('Power: {0} ** {1} = {2}'.format(s1, s2, Exponent))
Remainder = float(s1) % float(s2)
print('Division with Remainder: {0} / {1} = {2}\nRemainder: {2}'.format(s1, s2, Divide, Remainder))

Enter the first number: 69
Enter the second number: 69
Sum: 69 + 69 = 138.0
Difference: 69 - 69 = 0.0
Product: 69 * 69 = 4761.0
Quotient: 69 / 69 = 1.0
Power: 69 ** 69 = 7.596040312163298e+126
Division with Remainder: 69 / 69 = 1.0
Remainder: 1.0

In [ ]:
num = 5 
if num > 0 and num < 15: 
 print(num)

In [13]:
if 5!=10:
 print("5 and 10 is not equal")

5 and 10 is not equal

In [23]:
choice = int(input("Enter your choice:"))
#User's choice [1,2,3,4] if (choice>=1 and choice <=4):
print("Enter two numbers: ")
num1 = float(input())
num2 = float(input())
if choice == 1: 
 res = num1 + num2
 print("Result = ", res)
elif choice == 2:
 res = num1 - num2
 print("Result = ", res)
elif choice == 3:
 res = num1 * num2
 print("Result = ", res)
elif choice == 4:
 res = num1 / num2
 print("Result = ", res)
elif choice == 5:
 exit()
else: 
 print("Wrong input..!!")

Enter your choice:7
Enter two numbers:
8
9
Wrong input..!!

In [14]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

cherry

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [17]:
x = [7, 4, 3, 2, 5]
x.remove(5)
print(x)

[7, 4, 3, 2]

In [19]:
z = [7, 5, 3, 3]
removed_item = z.pop(1)
print(removed_item)
print(z)

5
[7, 3, 3]

In [18]:
x = [1, 2, 3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

In [20]:
z = [1, 2, 3, 4, 5]
z.insert(4, [1, 2]) 
print(z)

[1, 2, 3, 4, [1, 2], 5]

In [ ]:
# importing library
import numpy
# initializing list
lst = [1, 7, 0, 6, 2, 5, 6]
# converting list to array
arr = numpy.asarray(lst)
# displaying list
print("List:", lst)
# displaying array
print("arr: ", arr)
# made another array out of arr using asarray function
arr1 = numpy.asarray(arr)
#displaying arr1 before the changes made
print("arr1: " , arr1)
#change made in arr1
arr1[3] = 23
#displaying arr1 , arr , list after the change has been made
print("lst: " , lst)
print("arr1: " , arr1)